{{{html}}}
<aside class="content-cta">
    <div class="content-cta__fade"></div>
    <h2 class="content-cta__title">
    {{#has visibility="paid"}}
        Tämä artikkeli on maksaville tilaajille
    {{/has}}
    {{#has visibility="members"}}
        Tämä artikkeli on tilaajille
    {{/has}}
    {{#has visibility="filter"}}
        Tämä artikkeli on {{products}} -tason tilaajille
    {{/has}}
    </h2>
    {{#if @member}}
        <a class="content-cta__btn" data-portal="account/plans" >Päivitä tilaus</a>
    {{else}}
        <p class="content-cta__login">
            <a class="content-cta__btn" data-portal="signup" >
                {{#has visibility="paid"}}
                    Tilaa nyt
                {{/has}}
                {{#has visibility="members"}}
                    Tilaa ilmaiseksi
                {{/has}}
                {{#has visibility="filter"}}
                    Tilaa nyt
                {{/has}}
                
            </a>
            <small>Onko sinulla jo tili? <a data-portal="signin">Kirjaudu sisään</a></small>
        </p>
    {{/if}}
</aside>
