@use '../variables' as *;
@use '../mixins' as *;

.kg-card {
    margin-top: 24px;
    margin-bottom: 24px;

    @include minwidth($tablet) {
        margin-top: 48px;
        margin-bottom: 48px;
    }
}

.kg-width-wide {
    max-width: 1280px;
}

.kg-width-full {
    max-width: 100%;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;

    @include minwidth($tablet) {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}
