@use '../variables' as *;
@use '../mixins' as *;

.kg-embed-youtube-card {
    height: 0;
    padding-top: calc(56.25% - 18px);
    position: relative;

    @include minwidth($tablet) {
        padding-top: calc(56.25% - 36px);
    }

    @include minwidth(800) {
        padding-top: 414px;
    }

    iframe {
        box-shadow: 0 4px 8px rgba(0,0,0,.16);
        height: 100%;
        left: 16px;
        position: absolute;
        top: 0;
        width: calc(100% - 32px);

        @include minwidth($tablet) {
            left: 32px;
            width: calc(100% - 64px);
        }
    }
}
