@use '../variables' as *;
@use '../mixins' as *;

.kg-gallery-card {
    margin-top: 16px;
    margin-bottom: 16px;

    @include minwidth($tablet) {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.kg-gallery-container {
    position: relative;
}

.kg-gallery-row {
    display: flex;
}

.kg-gallery-image {
    flex-grow: 1;

    img {
        box-shadow: 0 4px 8px rgba(0,0,0,.16);
        height: 100%;
        margin: 0;
        object-fit: cover;
        width: 100%;
    }
}

.lg-backdrop.in {
    opacity: .85 !important;
}

.lg-outer {
    top: 64px !important;
    height: calc(100% - 64px) !important;
}