@use '../variables' as *;
@use '../mixins' as *;

.kg-toggle-card {
    background: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba($color--muted, .2);
    margin: 24px 16px;
    max-width: 768px;
    padding: 0;

    @include minwidth($tablet) {
        margin: 48px 32px;
        max-width: 736px;
    }

    @include minwidth(800) {
        margin: 48px auto;
    }

    &[data-kg-toggle-state="close"] .kg-toggle-content {
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        top: -0.5em;
        transition: opacity .5s ease, top .35s ease;
    }

    & + .kg-toggle-card {
        margin-top: -12px;

        @include minwidth($tablet) {
            margin-top: -24px;
        }
    }

    li + li {
        margin-top: 0.5em;
    }
}

.kg-toggle-content {
    height: auto;
    opacity: 1;
    padding: 0 1.25rem 1.25rem;
    position: relative;
    top: 0;
    transition: opacity 1s ease, top .35s ease;

    @include minwidth($tablet) {
        padding: 0 2rem 2rem;
    }
}

.kg-toggle-card[data-kg-toggle-state="close"] svg {
    transform: unset;
}

.kg-toggle-heading {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;

    @include minwidth($tablet) {
        padding: 2rem;
    } 
}

.kg-toggle-heading-text {
    font-size: 18px;
    line-height: 1.33;
    margin: 0;
    padding-top: 2px;

    @include minwidth($tablet) {
        font-size: 20px;
    }

    @include minwidth($laptop) {
        font-size: 22px;
    }
}

.kg-toggle-card-icon {
    align-items: center;
    background: none;
    border: 0;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-left: 1em;
    padding: 0;
    width: 24px;

    svg {
        color: rgba($color--muted, .75);
        transform: rotate(-180deg);
        width: 14px;
    }
    
    path {
        fill-rule: evenodd;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1.5;
        stroke: currentcolor;
    }
}

.kg-toggle-content {
    p, 
    ol, 
    ul {
        margin-top: 0;
    }
}
