{{!< default}}

<section class="error e404">
    <div class="error__wrapper">

        <a class="error__link" href="{{@site.url}}">&larr; Takaisin etusivulle</a>
        <h1 class="error__code">{{statusCode}}</h1>
        <p class="error__description">{{message}}</p>

    </div>
</section>


{{#get "posts" include="authors" limit="3" as |more_posts|}}
    {{#if more_posts}}
    
        <h2 class="read-more__title">{{@custom.recent_posts_title}}</h2>
        <div class="article-list">
            <div class="article-list__wrapper">
                {{#foreach more_posts}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        </div>
    {{/if}}
{{/get}}