@use 'variables' as *;
@use 'mixins' as *;

.article__title {
    @include wrapper(800);
    margin-top: 32px;
    margin-bottom: 16px;

    @include minwidth($laptop) {
        margin-top: 64px;
        margin-bottom: 32px;
    }
}

.article__content {
    margin: 4rem 0;

    @include minwidth($laptop) {
        margin: 4rem 0 8rem;
    }

    & > * {
        @include wrapper(800);
    }

    a {
        color: $color--accent;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    blockquote {
        color: $color--muted;
        padding: 8px 48px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            left: 16px;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: rgba($color--muted, .2);

            @include minwidth($laptop) {
                left: 0px;
            }
        }
    }

    hr {
        border: 0;
        border-top: 1px solid rgba($color--muted, .2);
        margin-bottom: 48px;
        margin-top: 48px;
        max-width: calc(100% - 100px);
        width: 600px;

        @include minwidth($laptop) {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }

    ul, ol {
        margin-top: 32px;
        margin-bottom: 32px;
        padding-left: 40px;

        @include minwidth($tablet) {
            padding-left: 64px;
        }
    }

    li {
        margin: 12px 0;
    }

    .kg-image-card {
        margin-top: 16px;
        margin-bottom: 16px;

        @include minwidth($tablet) {
            margin-top: 32px;
            margin-bottom: 32px;
        }

        img {
            box-shadow: 0 4px 8px rgba(0,0,0,.16);
        }
    }

    .kg-width-wide {
        max-width: 1280px;
    }

    .kg-width-full {
        max-width: 100%;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 40px;

        @include minwidth($tablet) {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }

    .kg-header-card {
        align-items: center;
        box-shadow: 0 8px 16px rgba(0,0,0,.16);
        display: flex;
        flex-direction: column;
        justify-content: center;

        * {
            @include wrapper;
            text-align: center;
        }

        h2 {
            font-size: 32px;
            line-height: 1.33;
            margin: 0;

            @include minwidth($tablet) {
                font-size: 48px;
            }

            @include minwidth($laptop) {
                font-size: 56px;
            }
        }

        h3 {
            font-size: 24px;
            line-height: 1.33;
            margin: 2rem 0;

            @include minwidth($tablet) {
                font-size: 26px;
            }

            @include minwidth($laptop) {
                font-size: 30px;
            }
        }

        &.kg-size-large {
            min-height: 100vh;
        }

        &.kg-size-medium {
            min-height: 50vh;
        }

        &.kg-size-small {
            height: 33vh;
            min-height: 300px;

            h3 {
                margin: 1rem 0 0;
            }

            .kg-header-card-button {
                margin: 3rem 0 0;
            }
        }

        &.kg-style-dark {
            background-color: $color--body;
            color: $color--bg;
        }

        &.kg-style-light {
            background-color: $color--white;
            box-shadow: 0 4px 12px rgba(0,0,0,.02);
        }

        &.kg-style-accent {
            background-color: $color--accent;
            color: $color--bg;

            .kg-header-card-button {
                background-color: $color--bg;
                color: $color--body;
            }
        }

        &.kg-style-image {
            background-size: cover;
            background-position: center;
            color: $color--white;
            position: relative;

            &:after {
                background-image: linear-gradient(135deg, rgba(0,0,0,.5), rgba(0,0,0,.2));
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            * {
                position: relative;
                z-index: 1;
            }

            h2, 
            h3 {
                text-shadow: 2px 4px 4px rgba(0,0,0,.6);
            }
        }

        .kg-header-card-button {
            background-color: $color--accent;
            border-radius: 4px;
            box-shadow: 0 8px 16px rgba(0,0,0,.16);
            color: $color--white;
            font-family: 'Roboto Condensed';
            font-weight: 700;
            line-height: 1;
            margin: 4rem 0 0;
            padding: 8px 16px;

            @include minwidth($tablet) {
                padding: 12px 32px;
            }
        }
    }

    figcaption {
        color: #666;
        font-size: 16px;
        padding: 8px 0 0;
        text-align: center;
    }

    .kg-embed-card {
        height: 0;
        padding-top: calc(56.25% - 18px);
        position: relative;

        @include minwidth($tablet) {
            padding-top: calc(56.25% - 36px);
        }

        @include minwidth(800) {
            padding-top: 414px;
        }

        iframe {
            box-shadow: 0 4px 8px rgba(0,0,0,.16);
            height: 100%;
            left: 16px;
            position: absolute;
            top: 0;
            width: calc(100% - 32px);

            @include minwidth($tablet) {
                left: 32px;
                width: calc(100% - 64px);
            }
        }
    }

    .kg-bookmark-card {
        border: 1px solid $color--border;
        border-radius: 4px;
        margin: 0 16px;
        max-width: 768px;
        padding: 0;

        @include minwidth($tablet) {
            margin: 0 32px;
            max-width: 736px;
        }

        @include minwidth(800) {
            margin: 0 auto;
        }

        .kg-bookmark-container {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;

            @include minwidth($tablet) {
                flex-direction: row;
            }
        }

        .kg-bookmark-content {
            border-top: 1px solid $color--border;
            background-color: $color--white;
            display: flex;
            flex: 0 0 100%;
            flex-wrap: wrap;
            padding: 16px;

            @include minwidth($tablet) {
                border-right: 1px solid $color--border;
                border-top: 0;
                flex: 0 0 60%;
                padding: 16px 24px;
            }
        }

        .kg-bookmark-thumbnail {
            flex: 0 0 40%;

            img {
                border-radius: 4px 4px 0 0;

                @include minwidth($tablet) {
                    border-radius: 0 4px 4px 0;
                }
            }
        }

        .kg-bookmark-title {
            color: $color--body;
            flex: 0 0 100%;
            font-family: 'Roboto Condensed';
            font-weight: 700;
            margin: 0 0 8px;
        }

        .kg-bookmark-description {
            color: $color--muted;
            flex: 0 0 100%;
            font-size: 14px;
            font-weight: 400;

            @include minwidth($tablet) {
                font-size: 16px;
            }
        }

        .kg-bookmark-metadata {
            align-items: center;
            align-self: flex-end;
            display: flex;
            flex: 0 0 100%;
            font-size: 16px;
            margin: 8px 0 0;
        }

        .kg-bookmark-icon {
            height: auto;
            margin-right: 8px;
            max-width: 16px;
        }

        .kg-bookmark-author {
            color: $color--body;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .kg-gallery-card {
        margin-top: 16px;
        margin-bottom: 16px;

        @include minwidth($tablet) {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        
        .kg-gallery-row {
            display: flex;
            gap: 16px;

            @include minwidth($tablet) {
                gap: 32px;
            }
        }

        .kg-gallery-image {
            flex-grow: 1;

            img {
                box-shadow: 0 4px 8px rgba(0,0,0,.16);
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .kg-code-card {
        background-color: $color--white;
        border: 1px solid $color--border;
        margin: 0 16px;
        max-width: 768px;
        padding: 0;

        @include minwidth($tablet) {
            margin: 0 32px;
            max-width: 736px;
        }

        @include minwidth(800) {
            margin: 0 auto;
        }

        pre {
            color: $color--muted;
            font-size: 16px;
            padding: 0 16px;

            @include minwidth($tablet) {
                padding: 0 32px;
            }
        }

        figcaption {
            border-top: 1px solid $color--border;
            padding: 8px 16px;
        }
    }

    .zapier-templates-widget {
        margin: 24px auto;

        @include minwidth($tablet) {
            margin: 48px auto;
        }
    }
}