@use 'variables' as *;
@use 'mixins' as *;

.article__title {
    @include wrapper(800);
    margin-top: 32px;
    margin-bottom: 16px;

    @include minwidth($laptop) {
        margin-top: 64px;
        margin-bottom: 32px;
    }
}

.article__content {
    margin: 4rem 0;

    @include minwidth($laptop) {
        margin: 4rem 0 8rem;
    }

    & > * {
        @include wrapper(800);
    }

    a {
        color: $color--accent;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    hr {
        border: 0;
        border-top: 1px solid rgba($color--muted, .2);
        margin-bottom: 48px;
        margin-top: 48px;
        max-width: calc(100% - 100px);
        width: 600px;

        @include minwidth($laptop) {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }

    ul, ol {
        margin-top: 32px;
        margin-bottom: 32px;
        padding-left: 40px;

        @include minwidth($tablet) {
            padding-left: 64px;
        }
    }

    li {
        margin: 12px 0;
    }

    figcaption {
        color: #666;
        font-size: 16px;
        padding: 8px 0 0;
        text-align: center;
    }

    .zapier-templates-widget {
        margin: 24px auto;

        @include minwidth($tablet) {
            margin: 48px auto;
        }
    }
}