@use 'variables' as *;
@use 'mixins' as *;

.author {
    margin: 32px 0 80px;
}

.author-header {
    align-items: stretch;
    background-color: $color--border;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 300px;

    @include minwidth($laptop) {
        clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
    }
}

.author-header--no-cover {
    @include wrapper;
    background-color: unset;
    clip-path: unset;

    .author-header__left {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 80px 0;
        width: 100%;
    }
}

.author-header__left {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 18px;
    width: 100%;

    @include minwidth($tablet) {
        padding: 40px 32px;
    }

    @include minwidth($laptop) {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
        padding: 80px 48px;
        width: calc(50% - 40px);
    }

    @include minwidth($desktop) {
        padding: 120px 80px;
    }

    @include minwidth(1520) {
        padding: 120px;
    }
}

.author-header__right {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 300px;

    @include minwidth($laptop) {
        flex: 0 0 calc(50% + 40px);
        max-width: calc(50% + 40px);
        width: calc(50% + 40px);
    }
}

.author-header__img {
    clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
    height: 100%;
    object-fit: cover;
    width: 100%;

    @include minwidth($laptop) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 40px 100%);
        height: 100%;
        width: calc(100% + 40px);
    }
}

.author-header__title {
    margin: 12px 0 0;
    z-index: 1;

    @include minwidth($tablet) {
        margin: 12px 0;
    }

    @include minwidth($laptop) {
        margin: 24px 0;
    }
}

.author-header__bio {
    font-size: 20px;
    max-width: 100%;

    @include minwidth($tablet) {
        font-size: 22px;
        max-width: 75%;
    }

    @include minwidth($laptop) {
        max-width: 100%;
    }

    @include minwidth($desktop) {
        font-size: 24px;
        max-width: 75%;
    }
}


.author-header__profile-pic {
    border-radius: 50%;
    height: 64px;
    margin-right: 16px;
    width: auto;

    @include minwidth($tablet) {
        height: 80px;
    }
}

.author-header__meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 700;
    margin: 32px 0;
}

.author-header__meta-link {
    color: $color--body;
    padding-left: 16px;
    position: relative;

    @include minwidth($tablet) {
        padding-left: 32px;
    }

    &:before {
        background-color: $color--body;
        border-radius: 50%;
        content: '';
        height: 4px;
        left: 7px;
        position: absolute;
        top: calc(50% - 1px);
        width: 4px;

        @include minwidth($tablet) {
            left: 14px;
        }
    }
}
