@use 'variables' as *;
@use 'mixins' as *;

.post__title {
    @include wrapper(800);
    margin-top: 32px;
    margin-bottom: 16px;

    @include minwidth($laptop) {
        margin-top: 64px;
        margin-bottom: 32px;
    }
}

.post__excerpt {
    @include wrapper(800);
    color: $color--muted;
    font-size: 20px;
    margin-bottom: 16px;

    @include minwidth($tablet) {
        font-size: 22px;
    }
}

.post__meta {
    @include wrapper(800);
    color: $color--muted;
    font-family: 'Roboto Condensed';
}

.post__meta-members {
    color: $color--muted;
    margin-right: 16px;
    position: relative;
    text-decoration: none;

    @include minwidth($tablet) {
        margin-right: 32px;
    }

    &:after {
        background-color: $color--muted;
        border-radius: 50%;
        content: '';
        height: 4px;
        right: -11px;
        position: absolute;
        top: calc(50% - 2px);
        width: 4px;

        @include minwidth($tablet) {
            right: -18px;
        }
    }
}

.post__meta-tag {
    color: $color--muted;
    margin-left: 16px;
    position: relative;
    text-decoration: none;

    @include minwidth($tablet) {
        margin-left: 32px;
    }

    &:hover {
        text-decoration: underline;
    }

    &:before {
        background-color: $color--muted;
        border-radius: 50%;
        content: '';
        height: 4px;
        left: -11px;
        position: absolute;
        top: calc(50% - 2px);
        width: 4px;

        @include minwidth($tablet) {
            left: -18px;
        }
    }
}

.post__img {
    @include wrapper;
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;

    @include minwidth($laptop) {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    img {
        box-shadow: 0 8px 16px rgba(0,0,0,.16);
    }

    figcaption {
        color: #666;
        font-size: 16px;
        padding: 8px 0 0;
        text-align: center;

        a {
            color:rgba(#223388, .85);
        }
    }
}

.post.featured {
    .post__img {   
        img {
            box-shadow: 0 4px 12px rgba(#223388,.24);
            border: 1px solid rgba(#223388,.1);
        }
    }
}

.post__ribbon {
    border: 26px solid transparent;
    border-bottom: 26px solid $color--accent;
    left: -25px;
    padding: 0 10px;
    position: absolute;
    top: 14px;
    transform: rotate(-45deg); 
    width: 162px;

    @include minwidth($tablet) {
        border-width: 30px;
        left: -14px;
        top: 14px;
        width: 180px;
    }
}

.post__ribbon-text {
    color: $color--white;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    left: 20px;
    position: absolute;
    text-transform: uppercase;
    top: 2px;
}

.post__premium-ribbon {
    border: 30px solid transparent;
    border-top: 30px solid $color--accent;
    bottom: 13px;
    padding: 0 10px;
    position: absolute;
    right: -15px;
    transform: rotate(-45deg); 
    width: 180px;
}

.post__premium-ribbon-text {
    bottom: 1px;
    color: $color--white;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
}





// POST FOOTER
.article__footer {
    @include wrapper(800);
}

.article__footer-wrapper {
    align-items: center;
    border-top: 1px solid rgba($color--muted, .2);
    display: flex;
    justify-content: space-between;
    padding-top: 32px;

    @include minwidth($laptop) {
        padding-top: 64px;
    }

    a {
        color: $color--accent;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}




// CONTENT CTA
.content-cta {
    position: relative;
}

.content-cta__fade {
    position: absolute;
    top: -120px;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(180deg, rgba($color--bg, 0) 0%, rgba($color--bg, 1) 75%, rgba($color--bg, 1) 100%);
}

.content-cta__title {
    color: $color--accent;
    text-align: center;
}

.content-cta__login {
    align-items: center;
    display: flex;
    justify-content: center;

    small a {
        font-family: 'Roboto Condensed';
    }
}

.content-cta__btn {
    background-color: $color--accent;
    border-radius: 24px;
    color: $color--white !important;
    font-family: 'Roboto Condensed';
    margin-right: 16px;
    padding: 8px 24px;
}



// READ MORE
.read-more {
    margin: 100px 0;

    @include minwidth($laptop) {
        margin: 200px 0;
    }
}

.read-more--gems {
    margin: 40px 0 100px;

    @include minwidth($laptop) {
        margin: 80px 0 200px;
    }
}

.read-more__title {
    @include wrapper;
    font-size: 24px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 16px;

    @include minwidth($laptop) {
        margin-bottom: 32px;
    }
}



// CTA
.cta {
    align-items: stretch;
    background-color: $color--border;
    clip-path: polygon(0 0, 100% 20px, 100% 100%, 0 100%);
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    justify-content: center;

    @include minwidth($laptop) {
        clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

.cta__left {
    background-color: $color--border;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 64px 18px 40px;
    width: 100%;

    @include minwidth($tablet) {
        padding: 40px 32px;
    }

    @include minwidth($laptop) {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
        padding: 80px 48px;
        width: calc(50% - 40px);
    }

    @include minwidth($desktop) {
        padding: 120px 80px;
    }

    @include minwidth(1520) {
        padding: 120px;
    }
}

.cta__right {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 200px;

    @include minwidth($laptop) {
        flex: 0 0 calc(50% + 40px);
        max-width: calc(50% + 40px);
        width: calc(50% + 40px);
    }
}

.cta__img {
    clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
    height: calc(100% + 1px);
    object-fit: cover;
    width: 100%;

    @include minwidth($laptop) {
        clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%);
        width: calc(100% + 40px);
    }
}

.cta__title {
    margin: 0 0 32px;
}

.cta__link {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.cta__input {
    background-color: $color--bg;
    border: 1px solid $color--border;
    border-radius: 4px 0 0 4px;
    color: $color--muted;
    max-width: 600px;
    padding: 8px 16px;
    text-align: left;
    width: calc(100% - 100px);
}

.cta__button {
    background-color: $color--accent;
    border: 1px solid $color--accent;
    border-radius: 0 4px 4px 0;
    color: $color--white;
    font-family: 'Roboto Condensed';
    padding: 8px 24px;
}
