@use 'variables' as *;
@use 'mixins' as *;

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.featured {
        box-shadow: 0 2px 12px rgba(#223388,.2);
        border-radius: 4px;

        .post-card__image {
            box-shadow: none;
            border-radius: 4px 4px 0 0;
        }

        .post-card__content {
            background-color: #f4f4f4;
            border-top: 1px solid rgba(#223388, .1);
            padding: 24px 16px 0;
        }

        .post-card__meta {
            background-color: #f4f4f4;
            border-radius: 0 0 4px 4px;
            padding: 24px 16px;
        }
    }
}

.post-card__link {
    flex: 1 0 auto;
    text-decoration: none;
}

.post-card__image {
    box-shadow: 0 8px 16px rgba(0,0,0,.16);
    display: flex;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    transition: box-shadow .16s ease-in-out;
    width: 100%;

    &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,.16);
    }

    img {
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.post-card__ribbon {
    border: 22px solid transparent;
    border-bottom: 22px solid rgba(#223388, .85);
    color: $color--white;
    font-size: 14px;
    left: -33px;
    padding: 0 10px;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg); 
    width: 120px;
}

.post-card__ribbon-text {
    color: $color--white;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    left: 5px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 1px;
    width: calc(100% - 10px);
}

.post-card__premium-ribbon {
    border: 22px solid transparent;
    border-top: 22px solid $color--accent;
    color: $color--white;
    bottom: 5px;
    font-size: 14px;
    padding: 0 10px;
    position: absolute;
    right: -33px;
    transform: rotate(-45deg); 
    width: 120px;
}

.post-card__premium-ribbon-text {
    bottom: 0px;
    color: $color--white;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    position: absolute;
    right: 4px;
    text-transform: uppercase;
}

.post-card__content {
    padding: 24px 0 0;

    a {
        color: $color--body;
        text-decoration: none;
    }
}

.post-card__title {
    color: $color--body;
    font-size: 22px;
    line-height: 1.33;
    margin: 0 0 12px;

    &:hover {
        text-decoration: underline;
    }
}

.post-card__excerpt {
    color: $color--muted;
    font-size: 16px;
}

.post-card__meta {
    color: $color--muted;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    margin: 0;
    padding: 24px 0 0;

    a {
        color: $color--muted;
        margin-left: 16px;
        position: relative;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:before {
            background-color: $color--muted;
            border-radius: 50%;
            content: '';
            height: 4px;
            left: -11px;
            position: absolute;
            top: calc(0.5rem - 3px);
            width: 4px;
        }
    }

    span {
        color: $color--muted;
        margin-left: 16px;
        position: relative;
        text-decoration: none;

        &:before {
            background-color: $color--muted;
            border-radius: 50%;
            content: '';
            height: 4px;
            left: -11px;
            position: absolute;
            top: calc(0.5rem - 3px);
            width: 4px;
        }
    }
}
