@use 'variables' as *;
@use 'mixins' as *;

.post-card {
    display: flex;
    flex-direction: column;
}

.post-card__image {
    box-shadow: 0 8px 16px rgba(0,0,0,.16);
    display: flex;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    transition: box-shadow .16s ease-in-out;
    width: 100%;

    &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,.16);
    }

    img {
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.post-card__content {
    padding: 24px 0 0;

    a {
        color: $color--body;
        text-decoration: none;
    }
}

.post-card__title {
    font-size: 22px;
    line-height: 1.33;
    margin: 0 0 12px;

    a {
        color: $color--body;
        text-decoration: none;
    }
}

.post-card__excerpt {
    font-size: 16px;

    a {
        color: $color--muted;
    }
}

.post-card__meta {
    align-self: flex-end;
    color: $color--muted;
    flex: 0 0 100%;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    margin: 16px 0;

    a {
        color: $color--muted;
        margin-left: 16px;
        position: relative;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:before {
            background-color: $color--muted;
            border-radius: 50%;
            content: '';
            height: 4px;
            left: -11px;
            position: absolute;
            top: calc(50% - 2px);
            width: 4px;
        }
    }
}
