// Colors
$color--body: #202020;
$color--bg: #FAFAFA;
$color--accent: var(--ghost-accent-color);
$color--white: #FFF;
$color--muted: #666;
$color--border: #EEE;

// Breakpoints
$mobile: 420;
$tablet: 600;
$laptop: 960;
$desktop: 1280;
